
body {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /*background-image: url('http://imageshack.com/a/img922/8061/Bzda3N.png')*/
  background-image: url('./images/darth_stripe.png');
}
a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('./images/background.jpeg');
  /*background-image: url('https://static.pexels.com/photos/132836/pexels-photo-132836.jpeg');*/
  background-position: center;
  background-size: cover;


}

.search-container h1 {
  margin: 150px 0 20px 0;
  font-weight: 700;
  font-size: 4rem;

}

.search-button {
  margin-top: 20px;
  font-size: 30px;
  padding: 10px 20px;
  width: 100px;
  background-color: #D9042B;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
}

.search-button:hover {
  color: #D9042B;
  background-color: white;
}

#searchbox {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 36px
}

.search-again {
  position: relative;
  top: 5px;
  padding: 10px 10px;
  font-size: 1rem;
  cursor: pointer;

}

.search-again:hover {
  color: #D9042B;
}

.random-box {
  margin-top: 60px;
  padding: 10px 50px;
  border-radius: 15px;
  text-align: center;
}

.random-search {
  cursor: pointer;
  background-color: #D9042B;
  padding: 7px 10px;
  border-radius: 15px;
  transition: all 0.3s linear;
}

.random-search:hover {
  color: #D9042B;
  background-color: white;
}

.band-container, .album-container, .genre-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.band-container h3 {
  font-size: 3rem;
}

.band-picture {
  max-width: 98vw;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 30%;
  border-radius: 1%;
  position: relative;


}

.band-picture h2 {
  color: white;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.albums-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-item {
  margin: 5px;
  text-align: center;
  max-width: 250px;
  cursor: pointer;
}

.album-item:hover {
  color: #D9042B;

}

.album-item img {
  max-width: 250px;
  box-sizing: border-box;
}

.album-item img:hover {
  border: 3px solid #D9042B;
}
.albums-section {
  display: flex;
  flex-direction: column;
}

.show-more{
  margin: 40px auto;
  width: 200px;
  background-color: #D9042B;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  font-size: 1.3rem;
}

.similar {
  margin: 20px 0 80px 0;
}

.similar-artist {
  text-align: center;
  margin: 5px;
  cursor: pointer;
  max-width: 200px;
}

.similar-artist:hover {
  color: #D9042B;
}

.similar-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-sizing: border-box;

}

.similar-image:hover {
  border: 3px solid #D9042B;
}

.similar-artist img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.top-tracks {
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
  min-width: 60vw;
}

.top-tracks li:hover {
  background-color: #D9042B;

}

.genres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.genre {
  background-color: #D9042B;
  border-radius: 20px;
  padding: 10px;
  color: white;
  margin: 5px;
  transition: all 0.2s linear;
}

.genre:hover {
  color: #D9042B;
  background-color: white;
  cursor: pointer;
}

.loading {
  text-align: center;
  font-size: 50px;

}

.album-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.album-info {
  margin-left: 50px;
}

.band-name:hover {
  color: #D9042B;
}

.tracks {
  font-size: 2.5rem;
  margin-top: 50px;
}

.artist-list {
  list-style: none;
  min-width: 60vw;

}

.artist-list li {
  line-height: 100px;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.artist-list li:hover {
  background-color: #D9042B;
  color: white;
}

.artist-image {
  width: 100px;
  height: 100%;
  margin-right: 20px;
}
