body {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: url('http://imageshack.com/a/img922/8061/Bzda3N.png')
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('https://static.pexels.com/photos/132836/pexels-photo-132836.jpeg');
  background-position: center;
  background-size: cover;


}

.search-container h1 {
  margin: 150px 0 20px 0;
  font-weight: 700;
  color: white;
  font-size: 4rem;

}

.search-container button {
  margin-top: 20px;
  font-size: 30px;
  padding: 10px 20px;
  width: 100px;
  color: white;
  background-color: #D9042B;
  border: none;
  border-radius: 20px;
}

#searchbox {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 36px
}

.band-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.band-container h3 {
  font-size: 3rem;
}

.band-picture {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 30%;
  border-radius: 1%;
  position: relative;


}

.band-picture h2 {
  color: white;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.albums-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-item {
  margin: 5px;
  text-align: center;
  max-width: 250px;
}

.album-item img {
  max-width: 250px;
}

.similar-artist {
  text-align: center;
  margin: 5px;
}

.similar-artist img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.top-tracks {
  list-style: none;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.genre {
  background-color: #D9042B;
  border-radius: 20px;
  padding: 10px;
  color: white;
  margin: 5px;
}
